* {box-sizing: border-box;}
html {
    font-size: 16px;
    color: grey;
}

h1, h2 {
    font-family: 'Prompt', sans-serif;
}

legend {
    margin: 10px 0 10px 0;
    font-size: 1.5em;
    color: #0f6ba0;
    font-family: 'Prompt', sans-serif;
}

p {
    font-family: 'PT Sans', sans-serif;
}

.top {
    margin-bottom: 30px;
    text-align: center;
}

.top-line {
    height: 5px;
    background-color: black;
    margin-bottom: 0;
}

.mid-line {
    height: 4px;
    background-color: black;
    margin-top: 4px;
}

.btm-line {
    height: 3px;
    background-color: black;
    margin: 2em 0;
}

#nws {
    padding-top: 10px;
    text-align: left;
}

.bottom {
    background-color: #b1daf284;
    text-align: left;
}

header {
    color: white;
    text-align: center;
    background-color: #0f6ba0;
    padding: 10px 0;
}

label {
    font-family: 'PT Sans', sans-serif;
}

#contact {
    border: none;
    padding: 0 10px 10px 10px;
    margin-top: 30px;
}

.form1 {
    display: flex;
    flex-direction: column;
}

#newsletter {
    padding: 0 10px 10px 10px;
    border: none;
    color: #0f6ba0;
}

#newsletter div {
    display: flex;
    margin-bottom: 1em;
}

#newsletter div:first-child {
    margin-bottom: 0;
}

.prompt {
    margin: 10px 0 8px 0;
}

#contact input {
    height: 4em;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #d5cbcb79;
}

#contact input:focus {
    background-color: antiquewhite;
    color: #0f6ba0;
    transition: background-color 3s ease;
}

#contact div:last-child {
    width: 50%;
}

select:focus {
    background-color: antiquewhite;
    color: #0f6ba0;
    transition: background-color 3s ease;
}

textarea:focus {
    background-color: antiquewhite;
    color: #0f6ba0;
    transition: background-color 5s ease-out;
}

textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    margin: 15px 0 10px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    resize: none;
  }

input::placeholder {
    text-align: right;
    font-style: italic;
    color: #8a8b8b;
    font-family: 'PT Sans', sans-serif;
}

select {
    width: 100%;
    height: 4em;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #d5cbcb79;
  }

  button {
    width: 100%;
    border-radius: 5px;
    background-color: #0f6ba0;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Prompt', sans-serif;
  }

  footer {
    font-size: small;
    font-style: italic;
    text-align: center;
    font-family: 'Prompt', sans-serif;
  }

  @media only screen and (min-width: 768px) {

    .form1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .form1 label {
        flex-basis: 150px;
        margin-top: 25px;
    }
   
    .form1 input {
        width: 80%;
    }

    .form1 select {
        width: 80%;
    }

    .form1 #zip {
        width: 45%;
    }

  }