* {box-sizing: border-box;}
html {
    font-size: 16px;
    color: grey;
}
h2 {
    color: #0f6ba0;
}

header {
    color: white;
    text-align: center;
    background-color: #0f6ba0;
    padding: 10px 0;
}

#contact {
    border: #5f707946;
    padding: 0 10px 10px 10px;
    border-top: double 5px;
    border-bottom: solid 5px;
    border-left: none;
    border-right: none;
}

#newsletter {
    padding: 0 10px 10px 10px;
    border: none;
}

#newsletter label {
    margin-bottom: 8px;
}

section {
    text-align: center;
}

#contact input {
    height: 4em;
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
    border: none;
    background-color: #d5cbcb79;
}

label {
    padding: auto;
    margin-bottom: 8px;
}

label .light {
    display: inline;
}

input:focus {
    border: 5px solid #39a8e8;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    background-color: #f8f8f8;
    resize: none;
  }

input::placeholder {
    text-align: right;
    font-style: italic;
}

select {
    width: 100%;
    height: 4em;
    padding: 10px;
    border: none;
    margin: 5px 5px 15px 5px;
    border-radius: 4px;
    background-color: #d5cbcb79;
  }

  button {
    width: 100%;
    border-radius: 5px;
    background-color: #0f6ba0;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  footer {
    font-size: small;
    font-style: italic;
    text-align: center;
  }